InventoryManager.xcodeproj/project.xcworkspace/xcuserdata/jonathanflores.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
InventoryManager.xcodeproj/project.xcworkspace/xcuserdata/jonathanflores.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
